# PCA Car Data

## Data Importation, Cleaning and Inspection

In [1]:
import pandas as pd ## packages needed
import numpy as np
from sklearn import datasets

In [2]:
car_data = pd.read_csv('imports_85_cleaned.csv') #importing and inspecting 
type(car_data)
print(car_data.info())
print(car_data.head())
print(car_data.keys())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 10 columns):
Make                   205 non-null object
Fuel-Type              205 non-null object
Body-Style             205 non-null object
Curb-weight            205 non-null int64
Number of Cylinders    205 non-null object
Engine Size            205 non-null int64
Horsepower             205 non-null object
City-mpg               205 non-null int64
Highway-mpg            205 non-null int64
Price                  205 non-null object
dtypes: int64(4), object(6)
memory usage: 16.1+ KB
None
          Make Fuel-Type  Body-Style   Curb-weight Number of Cylinders  \
0  alfa-romero       gas  convertible         2548                four
1  alfa-romero       gas  convertible         2548                four
2  alfa-romero       gas    hatchback         2823                 six
3         audi       gas        sedan         2337                four
4         audi       gas        sedan         2824                five

   Engine Size Horsepower  City-mpg  Highway-mpg  Price
0          130        111        21           27  13495
1          130        111        21           27  16500
2          152        154        19           26  16500
3          109        102        24           30  13950
4          136        115        18           22  17450
Index(['Make', 'Fuel-Type', 'Body-Style ', 'Curb-weight',
       'Number of Cylinders', 'Engine Size', 'Horsepower', 'City-mpg',
       'Highway-mpg', 'Price'],
      dtype='object')

In [3]:
car_data = car_data.set_index('Make') # set make to index
car_data.head()

,Fuel-Type,Body-Style,Curb-weight,Number of Cylinders,Engine Size,Horsepower,City-mpg,Highway-mpg,Price
Make,,,,,,,,,
alfa-romero,gas,convertible,2548,four,130,111,21,27,13495
alfa-romero,gas,convertible,2548,four,130,111,21,27,16500
alfa-romero,gas,hatchback,2823,six,152,154,19,26,16500
audi,gas,sedan,2337,four,109,102,24,30,13950
audi,gas,sedan,2824,five,136,115,18,22,17450

In [4]:
car_quant_data = car_data.select_dtypes(include=['int64']).copy() 
car_quant_data.head() #get only numeric features

             Curb-weight  Engine Size  City-mpg  Highway-mpg
Make
alfa-romero         2548          130        21           27
alfa-romero         2548          130        21           27
alfa-romero         2823          152        19           26
audi                2337          109        24           30
audi                2824          136        18           22

In [5]:
features = ['Curb-weight', 'Engine Size', 'City-mpg', 'Highway-mpg']

In [6]:
X = car_quant_data.loc[:, features].values

In [7]:
Y = car_quant_data.index.values

In [8]:
X.shape

(205, 4)

In [9]:
Y.shape

(205,)

## PCA Analysis

In [10]:
from sklearn.preprocessing import scale
from sklearn import decomposition

In [11]:
X = scale(X) # scaling X

In [13]:
pca = decomposition.PCA(n_components=4) # running PCA analysis
pca.fit(X)

PCA(copy=True, iterated_power='auto', n_components=4, random_state=None,
    svd_solver='auto', tol=0.0, whiten=False)

In [16]:
scores = pca.transform(X) #Compute and reterive scores values in DF
scores_df = pd.DataFrame(scores, columns=['PC1', 'PC2', 'PC3', 'PC4'])
scores_df.head()

        PC1       PC2       PC3       PC4
0  0.636016 -0.524258 -0.204608  0.027183
1  0.636016 -0.524258 -0.204608  0.027183
2  1.383825 -0.214063 -0.168389  0.165548
3 -0.265499 -0.570317 -0.117691  0.013099
4  1.580821 -0.801016  0.008803 -0.144543

TypeError: cannot concatenate object of type "<class 'list'>"; only pd.Series, pd.DataFrame, and pd.Panel (deprecated) objs are valid